nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .navbar-header
    button(type="button",class="navbar-toggle",data-toggle="collapse",data-target=".navbar-ex1-collapse")
      span.sr-only
        Toggle Navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand David Kolb
  .collapse.navbar-collapse.navbar-ex1-collapse
    ul.nav.navbar-nav(id="NavigationBarLinks")
      li
        a(href="/") Home
      li
        a(href="/contact") 
          span.glyphicon.glyphicon-envelope
          | &nbsp; Contact
      li
        a(href="https://github.com/dkolb")
          span.glyphicon.glyphicon-log-out
          | &nbsp; My GitHub
      li
        a(href="https://gist.github.com/dkolb/")
          span.glyphicon.glyphicon-log-out
          | &nbsp; My Gists
        

.page-header
  .container
    h1!= title 
    p!= subtitle
  a.background-credit(href="http://www.sxc.hu/photo/1428539") Image by Ezzio

.container
  if (flash)
    case (flash.type)
      when "success"
        .alert.alert-success!= flash.message
          a.close(data-dismiss="alert",href="#",aria-hidden="true") &times;
      when "warning"
        .alert.alert-warning!= flash.message
          a.close(data-dismiss="alert",href="#",aria-hidden="true") &times;
      when "danger"
        .alert.alert-danger!= flash.message
          a.close(data-dismiss="alert",href="#",aria-hidden="true") &times;
      when "info"
        .alert.alert-info!= flash.message
          a.close(data-dismiss="alert",href="#",aria-hidden="true") &times;
